/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
  overflow: hidden;
}
:root {
  --primary: #ff9900;
  --secondary: #9e00ff;
  --white: #fff;
  --gray: #9b9b9b;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 12px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 50;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight: lighter;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: lighter;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

h1 {
  font-family: librebaskerville, serif;
  color: white;
  font-weight: lighter;
  position: absolute;
  top: 10px;
}
